.slno {
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  text-align: center;
  border: 1px solid #ccc;
  word-break: break-word;
  font-family: Calibri;
  font-size: 16px;
  padding: 13px;
}
.catCol {
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  text-align: center;
  border: 1px solid #ccc;
  word-break: break-word;
  font-family: Calibri;
  font-size: 16px;
  padding: 12px;
  text-transform: capitalize;
}
.subCol {
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #ccc;
  word-break: break-word;
  font-family: Calibri;
  font-size: 16px;
  padding: 12px;
}
.prodCol {
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #ccc;
  word-break: break-word;
  font-family: Calibri;
  font-size: 16px;
  padding: 12px;
}
.priceCol {
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #ccc;
  word-break: break-word;
  font-family: Calibri;
  font-size: 16px;
  padding: 12px;
}
.stockCol {
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #ccc;
  word-break: break-word;
  font-family: Calibri;
  font-size: 16px;
  padding: 12px;
}
.stockVCol {
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid #ccc;
  word-break: break-word;
  font-family: Calibri;
  font-size: 16px;
  padding: 12px;
}
.slHead {
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
}
.catHead {
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
}
.subHead {
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
}
.prodHead {
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
}
.priceHead {
  -ms-flex: 0 0 150px;
  flex: 0 0 100px;
}
.stockHead {
  -ms-flex: 0 0 150px;
  flex: 0 0 100px;
}
.stockValue {
  -ms-flex: 0 0 150px;
  flex: 0 0 150px;
}

@media print {
  /* .printHead {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
  } */

  .print-body {
    display: block;
  }

  .print-body .pbdody div {
    break-inside: avoid;
    page-break-after: avoid;
    display: block;
  }

  /* .extra-spacing-tr {
    margin-top: 50mm;
  } */
  .footer {
    display: block !important;
    position: fixed;
    text-align: center;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: #fff;
    margin: 0 auto 0 auto;
  }
}
.printHead .mr-1 {
  /* display: none !important; */
  margin-right: -70.75rem !important;
}